<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="connection.username">viajeros_usr</property>
		<property name="connection.password">test123</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/viajeros</property>
		<property name="show_sql">true</property>	

		<!-- Use the C3P0 connection pool provider -->
		<property name="hibernate.c3p0.min_size">5</property>
		<property name="hibernate.c3p0.max_size">20</property>
		<property name="hibernate.c3p0.timeout">300</property>
		<property name="hibernate.c3p0.max_statements">50</property>
		<property name="hibernate.c3p0.idle_test_periods">3000</property>


		<!-- <mapping package="com.tookitaki.testserver.entity" />
		<mapping class="com.tookitaki.testserver.entity.Report" />
		<mapping class="com.tookitaki.testserver.entity.Service" /> -->
		
		
		
	</session-factory>
</hibernate-configuration>
