<?xml version="1.0" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:aop="http://www.springframework.org/schema/aop" 
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:util="http://www.springframework.org/schema/util"
        
    xsi:schemaLocation="
          http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		  http://www.springframework.org/schema/util
		  http://www.springframework.org/schema/util/spring-util-3.0.xsd
          http://www.springframework.org/schema/context 
		  http://www.springframework.org/schema/context/spring-context-3.0.xsd
   		  http://www.springframework.org/schema/tx 
		  http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
		  
  		<import resource="classpath:hibernate-config.xml"/>
  		<context:annotation-config />

         <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
         	<property name="sessionFactory" ref="sessionFactory" />
		 </bean>
         
		 <tx:annotation-driven proxy-target-class="true" transaction-manager="transactionManager" />
		 <!-- <context:component-scan base-package="com.viajeros.action" /> -->
		 
		 <!-- Action Class beans -->
  		<bean id="manageRateAction" class="com.viajeros.action.administration.ManageRateAction" />
   		<bean id="manageTransportationRateAction"
		class="com.viajeros.action.administration.ManageTransportationRateAction" />
		
        <bean id="manageDestinationAction" class="com.viajeros.action.administration.ManageDestinationAction" />
        
        
        <!-- Dao Class beans -->
        <bean id="destinationDao" class="com.viajeros.dao.DestinationDaoImpl" />
        <bean id="transportationRatesDao" class="com.viajeros.dao.TransportationRatesDaoImpl" />
        

</beans>
